<form #bookDetailsForm="ngForm" (ngSubmit)="onSubmit(bookDetailsForm.value)">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="30px">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Title" name="title" [(ngModel)]="booksData.title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Author" name="author" [(ngModel)]="booksData.author">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Price" name="price" [(ngModel)]="booksData.price">
      </mat-form-field>
      <span *ngIf="isEditMode">
        <button mat-raised-button color="primary" (click)="updateBookDetails()">Update</button>
      </span>
      <span *ngIf="!isEditMode">
        <button mat-raised-button color="primary">ADD</button>
      </span>
    </div>
  </div>
</form>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element;">
      <button class="button-row" mat-raised-button (click)="editDetails(element)">Edit</button>
      <button class="button-row" mat-raised-button color="primary" [routerLink]="['/books/',element.id]">View</button>
      <button class="button-row" mat-raised-button color="warn" (click)="deleteItem(element.id)">Delete</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'editable-row': booksData.id === row.id}">
  </tr>
</table>
