table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.button-row {
  margin: 8px 8px 8px 0;
}

mat-form-field {
  margin: 15px 15px 15px 0;
}
